In [104]:
import pandas as pd
import numpy as np

In [105]:
df = pd.read_csv("./data/houses.csv")

In [106]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  int64
 3   total_rooms         20433 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  int64
 6   households          20433 non-null  int64
 7   median_income       20433 non-null  float64
 8   ocean_proximity     20433 non-null  object
 9   median_house_value  20433 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.7+ MB

In [107]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

Работа с параметрами

In [108]:
def distance(lat1,lon1,lat2,lon2):
    import math
    # Earth Radius in KM 
    R = 6371
    dLat = math.radians(lat2-lat1);
    dLon = math.radians(lon2-lon1);
    lat1 = math.radians(lat1);
    lat2 = math.radians(lat2);
    a = math.sin(dLat/2) * math.sin(dLat/2) +  math.sin(dLon/2) * math.sin(dLon/2) * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = R * c
    return d

In [109]:

los_angeles = (34.05224006522778, -118.24340295060638)
san_francisco = (37.768869788439, -122.41781584327025)

In [110]:
df['los_angeles_dist'] = df.apply(lambda x: distance(x.latitude, x.longitude, los_angeles[0], los_angeles[1]), axis=1)
df['san_francisco_dist'] = df.apply(lambda x: distance(x.latitude, x.longitude, san_francisco[0], san_francisco[1]), axis=1)

In [111]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,los_angeles_dist,san_francisco_dist
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600,556.544948,20.611281
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500,554.295669,20.115667
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100,554.626612,18.038918
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300,555.210185,17.283751
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200,555.210185,17.283751

In [112]:
ocean = pd.get_dummies(df['ocean_proximity']).astype(int)
ocean.head(3)

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0          0       0       0         1           0
1          0       0       0         1           0
2          0       0       0         1           0

In [113]:
df = pd.concat((df, ocean), axis=1)

In [114]:
df.drop(columns=["longitude", "latitude", "ocean_proximity"], inplace=True)

In [115]:
df.head(5)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,los_angeles_dist,san_francisco_dist,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,41,880,129.0,322,126,8.3252,452600,556.544948,20.611281,0,0,0,1,0
1,21,7099,1106.0,2401,1138,8.3014,358500,554.295669,20.115667,0,0,0,1,0
2,52,1467,190.0,496,177,7.2574,352100,554.626612,18.038918,0,0,0,1,0
3,52,1274,235.0,558,219,5.6431,341300,555.210185,17.283751,0,0,0,1,0
4,52,1627,280.0,565,259,3.8462,342200,555.210185,17.283751,0,0,0,1,0

In [116]:
train_df = df.sample(frac=0.8,random_state=200)
test_df = df.drop(train_df.index)

Обучаем модельку

In [117]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [118]:
X = train_df.drop(columns=["median_house_value"])
y = train_df.median_house_value

X_test = test_df.drop(columns=["median_house_value"])
y_test = test_df.median_house_value

In [119]:
reg = LinearRegression().fit(X, y)

In [120]:
reg.score(X, y)

0.6498506344865067

In [121]:
reg.coef_

array([ 9.21301409e+02, -4.90475377e+00,  8.25945568e+01, -3.84905411e+01,
        6.37045476e+01,  3.86908359e+04, -1.15028677e+02, -1.17417577e+02,
       -3.46062373e+04, -9.79056567e+04,  1.76224795e+05, -3.54587793e+04,
       -8.25412171e+03])

Посчитаем метрики

In [122]:
from sklearn.metrics import mean_squared_error

In [123]:
y_pred = reg.predict(X_test)

In [124]:
mean_squared_error(y_test, y_pred, squared=False)

67556.50257371225

In [125]:
from catboost import CatBoostRegressor

In [143]:
model = CatBoostRegressor(iterations=10000,  # Количество итераций
                          learning_rate=0.1,  # Скорость обучения
                          depth=4,  # Глубина дерева
                          random_state=42)  # Задаем случайное начальное состояние для воспроизводимости

In [144]:
model.fit(X, y, verbose=100)

0:	learn: 109512.7233409	total: 1.47ms	remaining: 14.7s
100:	learn: 56109.8396828	total: 121ms	remaining: 11.9s
200:	learn: 51397.7924130	total: 242ms	remaining: 11.8s
300:	learn: 48851.8497163	total: 361ms	remaining: 11.6s
400:	learn: 47064.2538699	total: 467ms	remaining: 11.2s
500:	learn: 45653.8993745	total: 577ms	remaining: 10.9s
600:	learn: 44486.4203162	total: 677ms	remaining: 10.6s
700:	learn: 43514.7408030	total: 786ms	remaining: 10.4s
800:	learn: 42693.2093095	total: 937ms	remaining: 10.8s
900:	learn: 41909.4285385	total: 1.05s	remaining: 10.6s
1000:	learn: 41195.6998513	total: 1.15s	remaining: 10.3s
1100:	learn: 40537.3861430	total: 1.26s	remaining: 10.2s
1200:	learn: 39910.2965926	total: 1.36s	remaining: 10s
1300:	learn: 39315.3412863	total: 1.47s	remaining: 9.86s
1400:	learn: 38781.6043440	total: 1.58s	remaining: 9.69s
1500:	learn: 38232.3722227	total: 1.68s	remaining: 9.54s
1600:	learn: 37746.9099237	total: 1.79s	remaining: 9.38s
1700:	learn: 37286.0354612	total: 1.9s	remaining: 9.25s
1800:	learn: 36809.3881919	total: 2s	remaining: 9.11s
1900:	learn: 36342.2754707	total: 2.11s	remaining: 8.99s
2000:	learn: 35935.5496779	total: 2.21s	remaining: 8.84s
2100:	learn: 35555.3096882	total: 2.33s	remaining: 8.76s
2200:	learn: 35176.9567446	total: 2.48s	remaining: 8.79s
2300:	learn: 34802.7295400	total: 2.63s	remaining: 8.78s
2400:	learn: 34448.5064612	total: 2.82s	remaining: 8.91s
2500:	learn: 34088.5111105	total: 3.02s	remaining: 9.06s
2600:	learn: 33748.7192709	total: 3.21s	remaining: 9.13s
2700:	learn: 33411.5864565	total: 3.37s	remaining: 9.1s
2800:	learn: 33116.3668669	total: 3.52s	remaining: 9.05s
2900:	learn: 32804.5188346	total: 3.69s	remaining: 9.04s
3000:	learn: 32492.7917109	total: 3.84s	remaining: 8.96s
3100:	learn: 32185.5316784	total: 4s	remaining: 8.9s
3200:	learn: 31906.0167611	total: 4.15s	remaining: 8.81s
3300:	learn: 31629.2029688	total: 4.3s	remaining: 8.73s
3400:	learn: 31378.1848422	total: 4.45s	remaining: 8.63s
3500:	learn: 31118.1281036	total: 4.6s	remaining: 8.53s
3600:	learn: 30857.7306195	total: 4.74s	remaining: 8.43s
3700:	learn: 30591.8863296	total: 4.89s	remaining: 8.33s
3800:	learn: 30356.2023197	total: 5.04s	remaining: 8.22s
3900:	learn: 30108.0919093	total: 5.19s	remaining: 8.12s
4000:	learn: 29859.6818778	total: 5.34s	remaining: 8.01s
4100:	learn: 29619.8274386	total: 5.5s	remaining: 7.91s
4200:	learn: 29391.0316604	total: 5.65s	remaining: 7.79s
4300:	learn: 29164.8768779	total: 5.8s	remaining: 7.68s
4400:	learn: 28941.5723351	total: 5.94s	remaining: 7.56s
4500:	learn: 28729.6153562	total: 6.09s	remaining: 7.45s
4600:	learn: 28513.0978005	total: 6.24s	remaining: 7.32s
4700:	learn: 28305.2653868	total: 6.36s	remaining: 7.17s
4800:	learn: 28094.0757369	total: 6.47s	remaining: 7.01s
4900:	learn: 27886.9648717	total: 6.59s	remaining: 6.86s
5000:	learn: 27697.1612480	total: 6.71s	remaining: 6.71s
5100:	learn: 27501.8973108	total: 6.83s	remaining: 6.56s
5200:	learn: 27313.5056857	total: 6.95s	remaining: 6.41s
5300:	learn: 27133.8085019	total: 7.07s	remaining: 6.26s
5400:	learn: 26946.8229224	total: 7.18s	remaining: 6.12s
5500:	learn: 26769.1835219	total: 7.3s	remaining: 5.97s
5600:	learn: 26595.7707641	total: 7.42s	remaining: 5.83s
5700:	learn: 26436.1402002	total: 7.54s	remaining: 5.69s
5800:	learn: 26260.2425115	total: 7.66s	remaining: 5.55s
5900:	learn: 26111.8370508	total: 7.78s	remaining: 5.41s
6000:	learn: 25957.6680317	total: 7.91s	remaining: 5.27s
6100:	learn: 25786.7783405	total: 8.03s	remaining: 5.13s
6200:	learn: 25622.8852412	total: 8.15s	remaining: 4.99s
6300:	learn: 25472.8506350	total: 8.27s	remaining: 4.86s
6400:	learn: 25310.7066655	total: 8.39s	remaining: 4.72s
6500:	learn: 25146.8972631	total: 8.51s	remaining: 4.58s
6600:	learn: 25004.5177772	total: 8.63s	remaining: 4.45s
6700:	learn: 24866.2096967	total: 8.76s	remaining: 4.31s
6800:	learn: 24721.4062838	total: 8.88s	remaining: 4.18s
6900:	learn: 24560.1445797	total: 9s	remaining: 4.04s
7000:	learn: 24398.2357726	total: 9.12s	remaining: 3.91s
7100:	learn: 24260.7787160	total: 9.24s	remaining: 3.77s
7200:	learn: 24123.3223201	total: 9.36s	remaining: 3.64s
7300:	learn: 23989.1119834	total: 9.53s	remaining: 3.52s
7400:	learn: 23857.9382327	total: 9.67s	remaining: 3.4s
7500:	learn: 23728.5616653	total: 9.8s	remaining: 3.26s
7600:	learn: 23589.9344394	total: 9.92s	remaining: 3.13s
7700:	learn: 23461.1640810	total: 10s	remaining: 3s
7800:	learn: 23325.7194170	total: 10.2s	remaining: 2.87s
7900:	learn: 23198.6892120	total: 10.3s	remaining: 2.73s
8000:	learn: 23068.7607570	total: 10.4s	remaining: 2.6s
8100:	learn: 22950.8740706	total: 10.5s	remaining: 2.47s
8200:	learn: 22819.0418389	total: 10.7s	remaining: 2.34s
8300:	learn: 22683.5875460	total: 10.8s	remaining: 2.2s
8400:	learn: 22564.6253201	total: 10.9s	remaining: 2.07s
8500:	learn: 22441.8909650	total: 11s	remaining: 1.94s
8600:	learn: 22334.8487734	total: 11.1s	remaining: 1.81s
8700:	learn: 22213.9007959	total: 11.3s	remaining: 1.68s
8800:	learn: 22101.1904412	total: 11.4s	remaining: 1.55s
8900:	learn: 21971.2499861	total: 11.5s	remaining: 1.42s
9000:	learn: 21855.0552944	total: 11.6s	remaining: 1.29s
9100:	learn: 21727.2166285	total: 11.8s	remaining: 1.16s
9200:	learn: 21615.7102848	total: 11.9s	remaining: 1.04s
9300:	learn: 21496.4706167	total: 12.1s	remaining: 909ms
9400:	learn: 21371.4728558	total: 12.2s	remaining: 780ms
9500:	learn: 21263.0061799	total: 12.4s	remaining: 651ms
9600:	learn: 21156.8281412	total: 12.6s	remaining: 522ms
9700:	learn: 21048.2668843	total: 12.7s	remaining: 392ms
9800:	learn: 20948.4191570	total: 12.9s	remaining: 261ms
9900:	learn: 20860.6342613	total: 13s	remaining: 130ms
9999:	learn: 20769.2128401	total: 13.2s	remaining: 0us

In [145]:
y_pred = model.predict(X)

In [146]:
mse = np.mean((y - y_pred) ** 2)  # Среднеквадратичная ошибка
mse ** 0.5

20769.21284009507

In [147]:
y_pref = model.predict(X_test)

In [148]:
mse = np.mean((y_test - y_pref) ** 2)  # Среднеквадратичная ошибка
mse ** 0.5

49318.95116212646

In [149]:
len(X_test), len(X)

(4087, 16346)